---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---
<Layout title="Contact - Ines Benrhannou">
	<Navbar page="contact"/>
	<section>
		<div class="container is-fluid">
			<h1 class="title reveal-1">Contact</h1>
			<div class="columns">
				<div class="column reveal-2">
					<div class="block">
						<a href="tel:+33627555364" class="rs">
							<div class="i ic:baseline-local-phone"></div>
							<p>06.27.55.53.64</p>
						</a>
					</div>
					<div class="block">
						<a href="mailto:yaelle.zaoui@gmail.com" class="rs">
							<div class="i material-symbols:mail"></div>
							<p>yaelle.zaoui@gmail.com</p>
						</a>
					</div>
					<div class="block">
						<a href="https://fr.linkedin.com/in/ya%C3%ABlle-zaoui-8284401b9" target="_blank" class="rs">
							<div class="i ri:linkedin-fill"></div>
							<p>Linkedin</p>
						</a>
					</div>
					<div class="block cv">
						<iframe src="/pdf/Zaoui-Yaelle-CVV-pro-diplome.pdf" width="80%" height="600px" class="is-hidden-touch"></iframe>
						<a href="/pdf/Zaoui-Yaelle-CVV-pro-diplome.pdf" download class="button">Télécharger mon cv</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style lang="scss">
	section {
		background-color: white;
		padding-top: 100px;
		min-height: 100vh;
		overflow: hidden;
		padding-bottom: 50px;

		h1 {
			color: #045E51 !important;
			font-size: 3rem !important;
			font-family: 'PF Din Text Universal thin';
			margin-bottom: 80px !important;
			letter-spacing: 2px;
			text-align: center;
		}

		h2 {
			color: #045E51 !important;
			font-family: 'PF Din Text Universal thin';
			font-size: 2rem !important;
			// align-self: baseline;
			// border: solid 1px yellow;
		}

		.rs {
			font-size: 2rem !important;
			color: #045E51 !important;
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				margin-left: 10px;
				font-family: 'PF Din Text Universal regular';
				word-break: break-all;
			}
		}

		.cv {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.button {
			background-color: #045E51;
			color: white;
			border: solid 1px transparent;
			transition: all 0.3s ease-in-out;
			font-family: 'PF Din Text Universal regular';
			font-size: 1rem;
			margin-top: 20px;

			&:hover {
				background-color: white;
				color: #045E51;
				border-color: #045E51;
			}
		}
	}
</style>