---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Lightbox from '../components/Lightbox.jsx';
---

<Layout title="Ines Benrhannou - Design">
	<Navbar page="design" />
	<section>
		<div class="container is-fluid">
			<h1 class="title">Design</h1>
			<div class="columns">
				<div class="column">
					<Lightbox client:only="react" poster="/img/sketch1.jpg" sources={["/img/sketch1.jpg"]} />
					<Lightbox client:only="react" poster="/img/sketch3.jpg" sources={["/img/sketch3.jpg"]} />
				</div>
				<div class="column">
					<Lightbox client:only="react" poster="/img/sketch7.jpg" sources={["/img/sketch7.jpg"]} />
					<Lightbox client:only="react" poster="/img/sketch8.jpg" sources={["/img/sketch8.jpg"]} />
				</div>
			</div>
		</div>
		<!-- quelques sketch et un du design -->
	</section>
</Layout>

<style lang="scss">
	section {
		background-color: black;
		padding-top: 100px;
		min-height: 100vh;
		overflow: hidden;

		h1 {
			color: white !important;
			font-size: 3rem !important;
			font-family: 'ClashDisplay-Medium';
			margin-bottom: 80px !important;
			letter-spacing: 2px;
			text-align: center;
		}
	}
	.column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// border: solid 1px yellow;
	}
</style>