---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Ines Benrhannou - Design">
	<Navbar page="design" />
	<section class="hero is-fullheight">
		<div class="hero-body">
			<p>quelques sketch et un du design</p>
			
		</div>
	</section>
</Layout>