---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ReactLightbox from '../components/ReactLightbox.jsx';
---

<Layout title="Design - Ines Benrhannou">
	<Navbar page="design" />
	<section>
		<div class="container is-fluid">
			<h1 class="title reveal-1">Design</h1>

			<p class="reveal-2">Un designer est un praticien du design. C'est un professionnel qui possède un haut degré de formation artistique et technique, voire scientifique, ainsi qu'une éthique professionnelle. Il dessine à dessein avec une capacité d'analyse et de conseil auprès de ses commanditaires.</p>
			<p class="reveal-2">Il est capable d'empathie, d'approche sensible, intuitive et créative pour aborder les sujets. Il a le sens de l'esthétique, des formes et des signes, des couleurs et de la lumière, des sons, des matières et des matériaux, de l'ergonomie et de la lisibilité, et de leur interaction.</p>
			<p class="reveal-2">Bien qu'il n'ait pas à résoudre des problèmes techniques purs, ce qui est l'affaire de l'ingénieur, le designer suit le bon déroulement technique et la fabrication d'un projet.</p>

			<div class="columns">
				<div class="column reveal-2">
					<ReactLightbox client:only="react" thumbnails={false} poster="/img/design/sketch1.jpg" sources={[{ src: "/img/design/sketch1.jpg" }]} />
					<ReactLightbox client:only="react" thumbnails={false} poster="/img/design/sketch3.jpg" sources={[{ src: "/img/design/sketch3.jpg" }]} />
				</div>
				<div class="column reveal-2">
					<ReactLightbox client:only="react" thumbnails={false} poster="/img/design/sketch7.jpg" sources={[{ src: "/img/design/sketch7.jpg" }]} />
					<ReactLightbox client:only="react" thumbnails={false} poster="/img/design/sketch8.jpg" sources={[{ src: "/img/sketch8.jpg" }]} />
				</div>
			</div>
		</div>
		<!-- quelques sketch et un du design -->
	</section>
</Layout>

<style lang="scss">
	section {
		background-color: white;
		padding-top: 100px;
		min-height: 100vh;
		overflow: hidden;

		h1 {
			color: black !important;
			font-size: 3rem !important;
			font-family: 'PF Din Text Universal thin';
			margin-bottom: 80px !important;
			letter-spacing: 2px;
			text-align: center;
		}

		p {
			font-family: 'PF Din Text Universal light';
			margin-bottom: 10px;
		}
	}

	.columns {
		margin-top: 10px;
	}

	.column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// border: solid 1px yellow;
	}
</style>