---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Ines Benrhannou - Portfolio">
	<Navbar />

	<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="block">
				<h1 class="title">Ines Benrhannou</h1>
				<h3 class="subtitle">Designer/Concepteur</h3>
			</div>
			
		</div>
	</section>

</Layout>

<style lang="scss">
	section {
		height: 100vh !important;
		background-color: black;
		background-image: url('/img/home-bg.jpg');
		background-size: 100% 80%;
		background-repeat: no-repeat;
		background-position: bottom;

		.hero-body {
			background-color: rgba($color: #000000, $alpha: 0.5);
		}
	}

	.block {
		color: white;
		letter-spacing: 2px;
	}

	h1 {
		
		font-family: 'ClashDisplay-Medium';
		color: inherit !important;
	}

	h3 {
		font-family: 'ClashDisplay-Regular';
		color: inherit !important;
		
	}
</style>
