---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ReactLightbox from '../components/ReactLightbox.jsx';
---

<Layout title="Master - Ines Benrhannou">
	<Navbar page="master" />
	<section>
		<div class="container is-fluid">
			<h1 class="title reveal-1">Master</h1>
			<div class="columns">
				<div class="column reveal-2">
					<h2 class="subtitle">Avencement du diplôme 2022 - 2023</h2>
					<!-- <iframe src="/pdf/MASTER BOOK BENRHANNOU INES CREAPOLE ESDI.pdf" width="80%" height="600px"></iframe> -->
					<!-- { src: "/img/master/master-019.jpg" }, { src: "/img/master/master-020.jpg" }, { src: "/img/master/master-021.jpg" }, { src: "/img/master/master-022.jpg" }, { src: "/img/master/master-023.jpg" }, { src: "/img/master/master-024.jpg" }, { src: "/img/master/master-025.jpg" }, { src: "/img/master/master-026.jpg" }, { src: "/img/master/master-027.jpg" }, { src: "/img/master/master-028.jpg" }, { src: "/img/master/master-029.jpg" }, { src: "/img/master/master-030.jpg" }, { src: "/img/master/master-031.jpg" }, { src: "/img/master/master-032.jpg" }, { src: "/img/master/master-033.jpg" }, { src: "/img/master/master-034.jpg" }, { src: "/img/master/master-035.jpg" }, { src: "/img/master/master-036.jpg" }, { src: "/img/master/master-037.jpg" }, { src: "/img/master/master-038.jpg" }, { src: "/img/master/master-039.jpg" }, { src: "/img/master/master-040.jpg" }, { src: "/img/master/master-041.jpg" }, { src: "/img/master/master-042.jpg" }, { src: "/img/master/master-043.jpg" }, { src: "/img/master/master-044.jpg" }, { src: "/img/master/master-045.jpg" }, { src: "/img/master/master-046.jpg" }, { src: "/img/master/master-047.jpg" }, { src: "/img/master/master-048.jpg" }, { src: "/img/master/master-049.jpg" }, { src: "/img/master/master-050.jpg" }, { src: "/img/master/master-051.jpg" }, { src: "/img/master/master-052.jpg" }, { src: "/img/master/master-053.jpg" }, { src: "/img/master/master-054.jpg" }, { src: "/img/master/master-055.jpg" }, { src: "/img/master/master-056.jpg" }, { src: "/img/master/master-057.jpg" }, { src: "/img/master/master-058.jpg" }, { src: "/img/master/master-059.jpg" }, { src: "/img/master/master-60.jpg" }, { src: "/img/master/master-061.jpg" }, { src: "/img/master/master-062.jpg" }, { src: "/img/master/master-063.jpg" }, { src: "/img/master/master-064.jpg" }, { src: "/img/master/master-065.jpg" }, { src: "/img/master/master-066.jpg" }, { src: "/img/master/master-067.jpg" }, { src: "/img/master/master-068.jpg" }, { src: "/img/master/master-069.jpg" } -->
					<ReactLightbox client:only="react" thumbnails={true} poster="/img/master/master-0.jpeg" sources={[{ src: "/img/master/master-001.jpg" }, { src: "/img/master/master-002.jpg" }, { src: "/img/master/master-003.jpg" }, { src: "/img/master/master-004.jpg" }, { src: "/img/master/master-005.jpg" }, { src: "/img/master/master-006.jpg" }, { src: "/img/master/master-007.jpg" }, { src: "/img/master/master-008.jpg" }, { src: "/img/master/master-009.jpg" }, { src: "/img/master/master-010.jpg" }, { src: "/img/master/master-011.jpg" }, { src: "/img/master/master-012.jpg" }, { src: "/img/master/master-013.jpg" }, { src: "/img/master/master-014.jpg" }, { src: "/img/master/master-015.jpg" }, { src: "/img/master/master-016.jpg" }, { src: "/img/master/master-017.jpg" }, { src: "/img/master/master-018.jpg" }, { src: "/img/master/master-019.jpeg" }]} />
				</div>
			</div>
		</div>
	</section>
</Layout>

<style lang="scss">
	section {
		background-color: white;
		padding-top: 100px;
		min-height: 100vh;
		overflow: hidden;

		h1 {
			color: black !important;
			font-size: 3rem !important;
			font-family: 'PF Din Text Universal thin';
			margin-bottom: 80px !important;
			letter-spacing: 2px;
			text-align: center;
		}
	}
	.column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 30px;
		// border: solid 1px yellow;

		h2 {
			color: black !important;
			width: 80%; // same as lightbox image
			font-family: 'PF Din Text Universal thin';
			font-size: 2rem !important;
			// align-self: baseline;
			// border: solid 1px yellow;
		}
	}
</style>