---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ReactLightbox from '../components/ReactLightbox.jsx';
---

<Layout title="Portfolio - Ines Benrhannou">
	<Navbar page="portfolio" />
	<section>
		<div class="container is-fluid">
			<h1 class="title reveal-1">Portfolio</h1>
			<div class="columns">
				<div class="column reveal-2">
					<h2 class="subtitle">Mon Book</h2>
					<iframe src="/pdf/BOOK BENRHANNOU INES CREAPOLE ESDI.pdf" width="80%" height="600px" class="is-hidden-touch"></iframe>
					<a href="/pdf/BOOK BENRHANNOU INES CREAPOLE ESDI.pdf" download class="button">Télécharger mon book</a>
				</div>
			</div>
			<div class="columns">
				<div class="column reveal-2">
					<h2 class="subtitle">Mon sketchbook</h2>
					<iframe src="/pdf/SKETCHBOOK BENRHANNOU INES CREAPOLE ESDI.pdf" width="80%" height="600px" class="is-hidden-touch"></iframe>
					<a href="/pdf/SKETCHBOOK BENRHANNOU INES CREAPOLE ESDI.pdf" download class="button">Télécharger mon sketchbook</a>
				</div>
			</div>
			<div class="columns">
				<div class="column reveal-2">
					<h2 class="subtitle">Mon CV</h2>
					<ReactLightbox client:only="react" thumbnails={false} poster="/img/cv-ines.jpg" sources={[{ src: "/img/cv-ines.jpg" }]} />

					<a href="/pdf/cv-ines.pdf" download class="button">Télécharger mon CV</a>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style lang="scss">
	section {
		background-color: white;
		padding-top: 100px;
		min-height: 100vh;
		overflow: hidden;

		h1 {
			color: black !important;
			font-size: 3rem !important;
			font-family: 'PF Din Text Universal thin';
			margin-bottom: 80px !important;
			letter-spacing: 2px;
			text-align: center;
		}
	}
	.column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 30px;
		// border: solid 1px yellow;

		h2 {
			color: black !important;
			width: 80%; // same as lightbox image
			font-family: 'PF Din Text Universal thin';
			font-size: 2rem !important;
			// align-self: baseline;
			// border: solid 1px yellow;
		}

		.button {
			background-color: black;
			color: white;
			border: solid 1px transparent;
			transition: all 0.3s ease-in-out;
			font-family: 'PF Din Text Universal regular';

			&:hover {
				background-color: white;
				color: black;
				border-color: black;
			}
		}
	}
</style>