---
// 2 proj du book
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ReactLightbox from '../components/ReactLightbox.jsx';
---


<Layout title="Projets - Ines Benrhannou">
	<Navbar page="projets" />
	<section>
		<div class="container is-fluid">
			<h1 class="title reveal-1">Projets</h1>
			<div class="columns">
				<div class="column reveal-2">
					<h2 class="subtitle">BMW</h2>
					<ReactLightbox client:visible thumbnails={true} poster="/img/projets/mercedes-0009.jpg" sources={[{ src: "/img/projets/mercedes-0003.jpg" }, { src: "/img/projets/mercedes-0004.jpg" }, { src: "/img/projets/mercedes-0005.jpg" }, { src: "/img/projets/mercedes-0006.jpg" }, { src: "/img/projets/mercedes-0007.jpg" }, { src: "/img/projets/mercedes-0008.jpg" }, { src: "/img/projets/mercedes-0009.jpg" }]} />
				</div>
			</div>
			<div class="columns">
				<div class="column reveal-2">
					<h2 class="subtitle">Peugeot</h2>
					<ReactLightbox client:only="react" thumbnails={true} poster="/img/projets/peugeot-0010.jpg" sources={[{ src: "/img/projets/peugeot-0010.jpg" }, { src: "/img/projets/peugeot-0011.jpg" }, { src: "/img/projets/peugeot-0012.jpg" }, { src: "/img/projets/peugeot-0013.jpg" }, { src: "/img/projets/peugeot-0014.jpg" }]} />
				</div>
			</div>
			<div class="columns">
				<div class="column reveal-2">
					<h2 class="subtitle">LS Studio</h2>
					<ReactLightbox client:only="react" thumbnails={true} poster="/img/projets/lsstudio-0003.jpg" sources={[{ src: "/img/projets/lsstudio-0003.jpg" }, { src: "/img/projets/lsstudio-0004.jpg" }, { src: "/img/projets/lsstudio-0005.jpg" }, { src: "/img/projets/lsstudio-0006.jpg" }]} />
				</div>
			</div>
			<div class="columns">
				<div class="column reveal-2">
					<h2 class="subtitle">India Diwali</h2>
					<ReactLightbox client:only="react" thumbnails={true} poster="/img/projets/india-011.jpg" sources={[{ src: "/img/projets/india-001.jpg" }, { src: "/img/projets/india-002.jpg" }, { src: "/img/projets/india-003.jpg" }, { src: "/img/projets/india-004.jpg" }, { src: "/img/projets/india-004.jpg" }, { src: "/img/projets/india-005.jpg" }, { src: "/img/projets/india-006.jpg" }, { src: "/img/projets/india-007.jpg" }, { src: "/img/projets/india-008.jpg" }, { src: "/img/projets/india-009.jpg" }, { src: "/img/projets/india-010.jpg" }, { src: "/img/projets/india-011.jpg" }, { src: "/img/projets/india-012.jpg" },]} />
				</div>
			</div>
		</div>
		<!-- quelques sketch et un du design -->
	</section>
</Layout>

<style lang="scss">
	section {
		background-color: white;
		padding-top: 100px;
		min-height: 100vh;
		overflow: hidden;

		h1 {
			color: black !important;
			font-size: 3rem !important;
			font-family: 'PF Din Text Universal thin';
			margin-bottom: 80px !important;
			letter-spacing: 2px;
			text-align: center;
		}
	}
	.column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// border: solid 1px yellow;

		h2 {
			color: black !important;
			width: 80%; // same as lightbox image
			font-family: 'PF Din Text Universal thin';
			font-size: 2rem !important;
			// align-self: baseline;
			// border: solid 1px yellow;
		}
	}
</style>