---
const { page } = Astro.props;
---

<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="container is-fluid">
		<div class="navbar-brand">
			<a class="navbar-item logo" href="/">
				<img src="/img/logo.png" alt="">
			</a>
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div id="navbarBasicExample" class="navbar-menu">
			<!-- <div class="navbar-start">
				
			</div> -->
			<div class="navbar-end">
				<div class="navbar-item">
					<a class:list={['navbar-item', { active: page === 'design' }]} href="/design">Projets</a>
					<a class:list={['navbar-item', { active: page === 'projets' }]} href="/projets">OldProjets</a>
					<!-- <a class:list={['navbar-item', { active: page === 'portfolio' }]} href="/portfolio">CV/Portfolio</a> -->
					<!-- <a class:list={['navbar-item', { active: page === 'master' }]} href="/master">Master</a> -->
					<a class:list={['navbar-item', { active: page === 'contact' }]} href="/contact">Contact</a>
					<!-- <a class:list={['navbar-item', { active: page === 'apropos' }]} href="/apropos">Contact</a> -->
				</div>
			</div>
		</div>
	</div>
</nav>

<style lang="scss">
	nav {
		position: fixed !important;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba($color: transparent, $alpha: 0.0) !important;

		.navbar-menu {
			background-color: inherit;
		}

		.navbar-burger {
			color: #35993A;
		}

		.navbar-item img {
			color: #35993A;
			// font-size: 1.5rem;
			width: 50px !important;
			max-height: 50px !important;
		}
	}


	.navbar-end a {
		color: #35993A;
		// border-radius: 50px;
		margin: 0 5px;
		text-decoration: none;
		margin-left: 10px;
		background-image: linear-gradient(90deg, #35993A, #35993A), linear-gradient(90deg, transparent, transparent);
		background-size: 100px 1.5px, 100% 1.5px;
		background-repeat: no-repeat;
		background-position-x: calc(100px * -1), 0;
		background-position-y: 100%;
		transition: background-position-x 0.8s ease;
		&:hover {
			background-color: transparent !important;
			color: #35993A !important;
			background-position-x: calc(100% + 100px), 0;
		}
		&.active {
			background-color: transparent !important;
			color: #35993A !important;
			border-bottom: solid #35993A 1px;
		}
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {

		// Get all "navbar-burger" elements
		const navbarBurger = document.getElementsByClassName('navbar-burger')[0];

		// Add a click event on each of them
		
		navbarBurger.addEventListener('click', () => {

			// Get the target from the "data-target" attribute
			// @ts-ignore
			const targetId = navbarBurger.dataset.target;
			const target = document.getElementById(targetId);

			// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
			navbarBurger.classList.toggle('is-active');
			// @ts-ignore
			target.classList.toggle('is-active');

		});

	});
</script>