---
const { page } = Astro.props;
---

<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="./">Ines B.</a>
		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<!-- <div class="navbar-start">
			
		</div> -->
		<div class="navbar-end">
			<div class="navbar-item">
				<a class:list={['navbar-item', { active: page === 'design' }]} href="design">Design</a>
				<a class:list={['navbar-item', { active: page === 'projet' }]} class="navbar-item">Projet</a>
				<a class:list={['navbar-item', { active: page === 'portfolio' }]} class="navbar-item">Portfolio</a>
				<a class:list={['navbar-item', { active: page === 'master' }]}>Master</a>
				<a class:list={['navbar-item', { active: page === 'contact' }]}>Contact</a>
				<a class:list={['navbar-item', { active: page === 'apropos' }]}>A propos</a>
			</div>
		</div>
	</div>
</nav>

<style lang="scss">
	nav {
		position: fixed !important;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba($color: transparent, $alpha: 1.0) !important;

		.navbar-menu {
			background-color: black;
		}

		.navbar-burger {
			color: white;
		}
	}


	.navbar-item {
		color: white;
		border-radius: 50px;
		margin: 0 5px;
		&:hover {
			// background-color: transparent !important;
			color: black !important;
		}
		&.active {
			background-color: white !important;
			color: black !important;
		}
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {

		// Get all "navbar-burger" elements
		const navbarBurger = document.getElementsByClassName('navbar-burger')[0];

		// Add a click event on each of them
		
		navbarBurger.addEventListener('click', () => {

			// Get the target from the "data-target" attribute
			// @ts-ignore
			const targetId = navbarBurger.dataset.target;
			const target = document.getElementById(targetId);

			// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
			navbarBurger.classList.toggle('is-active');
			// @ts-ignore
			target.classList.toggle('is-active');

		});

	});
</script>