---
import 'bulma/css/bulma.min.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	/* :root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	} */
	body {
		margin: 0;
	}
	*, *::before, *::after {
		box-sizing: border-box;
	}

	@font-face {
		font-family: 'ClashDisplay-Extralight';
		src: url('../fonts/ClashDisplay-Extralight.woff2') format('woff2'),
			url('../fonts/ClashDisplay-Extralight.woff') format('woff'),
			url('../fonts/ClashDisplay-Extralight.ttf') format('truetype');
		font-weight: 200;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: 'ClashDisplay-Regular';
		src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
			url('../fonts/ClashDisplay-Regular.woff') format('woff'),
			url('../fonts/ClashDisplay-Regular.ttf') format('truetype');
		font-weight: 400;
		font-display: swap;
		font-style: normal;
	}


	@font-face {
		font-family: 'ClashDisplay-Medium';
		src: url('../fonts/ClashDisplay-Medium.woff2') format('woff2'),
			url('../fonts/ClashDisplay-Medium.woff') format('woff'),
			url('../fonts/ClashDisplay-Medium.ttf') format('truetype');
		font-weight: 500;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: 'PF Din Text Universal thin';
		src: url('../fonts/PFDinTextUniversal-ExtraThin.woff2') format('woff2'),
			url('../fonts/PFDinTextUniversal-ExtraThin.woff') format('woff');
		font-weight: 100;
		font-style: normal;
	}

	@font-face {
		font-family: "Iconify Explorer Font";
		src: url("../fonts/iconfont.woff") format("woff"),
			url("../fonts/iconfont.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
	}

	.i {
		font-family: "Iconify Explorer Font" !important;
		font-size: 1em;
		font-style: normal;
	}

	.i.material-symbols\:mail:before {
		content: "\e001";
		margin-left: 2px;
	}

	.i.mdi\:artstation:before {
		content: "\e002";
		margin-left: 2px;
	}

	.i.ri\:behance-fill:before {
		content: "\e003";
		margin-left: 2px;
	}

	.i.ri\:instagram-line:before {
		content: "\e004";
		margin-left: 2px;
	}

	.i.ri\:linkedin-fill:before {
		content: "\e005";
		margin-left: 2px;
	}

	[class*='reveal-'] {
		opacity: 0;
		transform: translateY(30px);
	}

	.reveal-visible {
		opacity: 1;
		transform: translateY(0);
		transition: 1s cubic-bezier(0.83, 0, 0, 1);
	}

	.reveal-1 {
		transition-delay: 0.5s;
	}
	.reveal-2 {
		transition-delay: 1s;
	}
	.reveal-3 {
		transition-delay: 1.5s;
	}
</style>

<script>
	import {showElements} from '../functions/observer.js';
	showElements()
</script>
